.new-password-container{
    height: 100vh;
    background: #2b3237;
}
.new-password-form{
    height: 200px;
}

.new-password-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}