.followed-user-card{
    width: 500px;
    min-width: 500px;
    background: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 8px;
}

.followed-user-image{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    background: no-repeat;
    background-position: center; 
    margin: 0 15px;
    box-shadow: 0px 0px 0px 4px gray;
}

.followed-user{
    text-decoration: none;
    font-size: 36px;
    font-weight: 600;
    color: #2b3237;
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.followed-user:hover {
    color: #ee1144;
}

