.forgot-form{
    height: 220px;
}

.forgot-form p {
    font-size: 12px;
    padding: 0px;
    text-align: center;
    font-weight: 500;
}

.forgot-form p span{
    font-size: 10px;
    font-weight: 400;
}

