.login-register-page{
    background-color: #2b3237;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-register-form{
    margin-top: 1vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    width: 360px;
    background: white;
    border-radius: 5px;
}

.login-register-form h1{
    font-size: 28px;
    text-align: left;
    font-weight: 600;
    color: #2b3237;
    padding: 0px;
    margin: 0px;
}

.login-register-form h2{ 
     font-size: 12px; 
    text-align: left;
    font-weight: 400;
    color: #2b3237;
} 
.login-register-form h2 span {
    color: #ee1144;
}

.form-element {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
}

.form-element label {
    padding-bottom: 5px;
}

.form-element input {
    height: 40px;
    padding-left: 4px;
} 

.inline-between{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.inline-between span {
    color: #ee1144;
}

.login-register-form button {
    height: 40px;
    padding: 0px;
    border: none;
    color: white;
    font-size: 14px;
    background: #ee1144;
}
